<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
       <footer>
            <div class="footer-top">
                <h2>Stay up to date with our exclusive offers<br />and new products</h2>
                <div class="box-input-footer"><input type="text" placeholder="Nhap Email cua ban ..."></div>
                <div class="footer-icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-google"></i>
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
            <hr style="width: 80%; margin: 20px auto; border: 2px solid #535252;" />
            <div class="footer-under ">
                <div class="text-footer">
                    <h3>HỆ THỐNG CỬA HÀNG TRÊN TOÀN QUỐC</h3>
                    <p>Store 1: 215M Trung Mỹ Tây , Quận 12 , Hồ Chí Minh<br />Store 2: Nguyễn Văn Nghi , Phan Văn Trị ,
                        Quận Gò Vấp , Hồ Chí Minh</p>

                </div>

                <div class="text-footer">
                    <h3>CHÍNH SÁCH</h3>
                    <p> Phương thức thanh toán<br /> Chính sách đổi trả <br /> Điều khoản dịch vụ <br /> Hướng dẫn mua
                        hàng<br /> Chính sách bảo mật</p>
                </div>

                <div class="text-footer">
                    <h3>LIÊN HỆ</h3>
                    <p>CSKH 1 : 0123456789<br />
                        CSKH 2 : 0987654321</p>
                </div>
            </div>

        </footer>
</body>
</html>